#page {
	height:100%;
	background: linear-gradient(90deg, rgba(214,255,196,1) 0%, rgba(242,254,238,1) 90%, #e8e8e8 100%);
	}

 div#main-wrapper-text {
	margin-top: 3rem;
	position: relative;
}

div#main-wrapper-text p {
	margin-top: 20px;
	width: 80%;
	font-size: .85rem;
	color: #007309;
	padding-left: 3.5rem;
	text-align: justify;
	font-family: Raleway, sans-serif;
	font-weight: 400;
	line-height: 25px;
} 

div.col-7 {
	margin-left: 2.5rem;
}

.square_btn{
	display: inline-block;
	font-family: Raleway, sans-serif;
	font-weight: 500;
	cursor: pointer;
	border: none;
	padding: 10px 50px;
	border-radius: 25px;
    text-decoration: none;
    color: #FFF !important;
    background-image: -webkit-linear-gradient(45deg, #86F58F 0%, #007309 100%);
    background-image: linear-gradient(45deg, #86F58F 0%, #007309 100%);
	transition: all .4s;
	box-shadow: .3rem .3rem .4rem #02490B;
}

.square_btn:focus {
	outline: none;
}

.square_btn:hover {
	padding: 12px 52px;
	text-decoration: none;
}

.square_btn2 {
	display: inline-block;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	cursor: pointer;
	border: none;
	margin-top: .5rem;
	padding: 5px 15px !important;
	border-radius: 25px;
    text-decoration: none;
    color: #FFF !important;
    background-image: -webkit-linear-gradient(45deg, #007309 0%,  #86F58F 100%);
    background-image: linear-gradient(45deg, #007309 0%,  #86F58F 100%);
	transition: all .4s;
	padding: 10px 30px;	
}

.square_btn2:focus {
	outline: none;
}
.title-main { 
	font-size: 5.625rem;
	padding-top: 2.5rem;
	padding-left: 3.5rem;
	color: #007309;
	line-height: 65px;
	font-family: Raleway, sans-serif;
	font-weight: 800;
 }

 .subtitle-main {
	font-size: 3.375rem;
	padding-left: 3.5rem;
	color: #007309;
	font-family: Raleway, sans-serif;
	font-weight: 700;
 }

 img#main-img {
	 margin-right: 2rem;
	 width: 700px;
	 height: 500px;
 }

section#services {
	margin: 10rem 4rem 5rem 4rem;
	padding-top: 8rem;
	border-bottom: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
}

div#services-row {
	margin-bottom: 5.5rem;
}

div.services-col {
	margin-left: .9rem;
}

div.services-col img {
	margin-left: .9rem;
	width: 5.9375rem; 
	height: 6.875rem;
}
img#default {
	width:250px; 
	height:170px;
}

div.services-col h2 {
	color: #007309;	
	font-size: 1.4375rem;
}

div.services-col p {
	font-size: 0.6875rem;
	color: #007309;	
	font-family: Raleway, sans-serif;
	font-weight: 300;
}

#lema {
	width: 100%;
}

div#posts-wrapper.row {
	margin-left: 3.5rem;
	width: 60%;
}

div.post-img-u {
	padding-left: .9rem;
	margin-top: -.25rem;
}

div#post-cont {
	margin-left: 0;
}

div#post-cont p {
	margin-top: .6rem;
	width: 75%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8125rem;
}

div#post-cont h3 {
	font-family: Arial, Helvetica, sans-serif ;
	font-weight: 800;
	color: #007309;
	font-size: 1rem;
}

img#img-post {
	position: absolute;
	right: 0;
	width: 43.75rem;
	height: 37.5rem;
}

section#parceiros {
	border-top: 1px solid #f2f2f2;
}

.tit1 {
	font-size: 48px;
	font-family:'Noto Sans JP', sans-serif;
	color: #007309;
	font-weight: 600;
	width: 70%;
   	margin-bottom: 4.8rem;
	padding-bottom: 10px;
	margin-left: 1rem;
   	margin-top: 2rem;
}

.tit2 {
	font-size: 42px;
	font-family:'Noto Sans JP', sans-serif;
	color: #007309;
	width: 70%;
   	font-weight: 600;
   	margin-bottom: 4.8rem;
	padding-bottom: 10px;
	/* margin-left: .8rem; */
   	margin-top: 2rem;
}

div#part {
	width: 85vw;
}


#parceiros p {
	font-size:26px;
	 color:#727272;
	  font-family: 'Source Sans Pro', sans-serif;
}

section#conta {
	margin: 4rem 4rem !important;
}

form input, form button, form textarea {
	border: none !important;
	margin-left: 2rem;
	display: block;
	margin-bottom: 2rem;
	color: black;
	font-family: Raleway, sans-serif;
	font-weight: 500;
}

form input[type="number"] {
	font-family: Arial,Helvetica, sans-serif !important;
}

input:focus, button:focus, textarea:focus {
	outline: none;
	border: none;
	box-shadow: none;
}

#contact-img-wrapper {
	margin-left: auto;
}

form {
	height: 100%;
}

img#contact-img {
	margin-left: -2rem;
	width: 31rem;
	height:31rem;
}

form input, form textarea {
	width: 500px !important;
	height: 55px !important;
	margin-bottom: 2.5rem;
}

.form-grp {
	 position: relative;
}

.form-grp input, .form-grp textarea{
	padding-left: 3rem;
}

.form-grp textarea {
	padding-top: 16px;
}

i.fa-phone {
	transform: rotate(90deg)
}

.form-grp i{
	position: absolute;
	top: .9rem;
	font-size: 1.7rem;
	color: #007309;
	left: 2.6rem;
}
section#conta {
	width: 100%;
	margin-left: -2.4rem !important;
	padding-left: 14.2rem;
	margin-top: 9rem !important;
}
section#services {
	margin-top:-2rem !important;
}
section#conteudos {
	margin-top: -5rem;
}

	
	.tit1 {
		margin-left: -5.5rem;
		padding-left: 2.5rem;
		margin-top: 5rem;
	}

	h1#s{
		margin-left: -2rem !important;
	}
	
	h1#c {
		margin-left: -9.2rem !important;
	}
	
	.tit2{
		margin-left: 2rem !important;
		text-align:left;
		margin-top: 5rem;	
	}

@media (max-width: 410.98px ) {
	div.services-col{
		margin-bottom: 4rem;
	}
	div#img-posts-wrapper {
		display:none;
	}

	div.services-col img {
		margin-left: 10rem;
		width: 3.6rem;
		height: 5.6rem;

	}
	div#post-cont {
		margin-left: .4rem;

	}

	div#posts-wrapper.row {
		margin-left: 0;
		width: 100%;
	}
	img#contact-img {
		margin-left: 6.75rem;
		width: 25.5rem;
		height:25.5rem;
		}

	form input, form textarea {
		width: 415px !important;
		height: 55px !important;
		margin-bottom: 2.5rem;
		margin-left: .85rem;
}

form i {
	margin-top: .615rem;
	margin-left: -.9890rem;
}

section#conta {
	width: 100%;
	margin-left: -.4rem !important;
	margin-top: 15rem !important;
	padding-left: 14.2rem;
}


div#this {
	width: 100%;
	margin-left: -3rem;
}

form i {
	margin-top: .615rem;
	margin-left: -10.889rem;
}
.tit1 {
	/* margin-left: -1.5rem !important; */
	/* border: 1px solid red;  */
	margin-left: -3rem;
	padding-left: 2.5rem;
	/* text-align:center; */
	margin-top: 12rem;
}


.tit2{
	/* margin-left: -1.5rem !important; */
	border: 1px solid red; 
	margin-left: -2.8rem;
	margin-right: auto;
	text-align:center;
	margin-top: 5rem;
}
}

@media (min-width: 411px)and (max-width: 575.98px) {
	:root {
		font-size: 12px;
	}
	div#underlogo p {
		width: 90%;
		font-size: 16px;
	}

	div#img-posts-wrapper {
		display:none;
	}

	div p.second-text {
		width:90%;
		font-size: 22px;
	}

	.caixa-noticias {
		width: 95%;
	}

	#conteudos h1 {
		font-size: 40px;
	}

	div.services-col{
		margin-bottom: 4rem;
	}

	div#services-row {
		margin: 0;
	}

	div.services-col img {
		margin-top: .5rem;
		margin-left: 0rem;
		width: 4.55rem;
		height: 5.57654rem;
	}
	div.services-col h2 {
		width: 280px;
	}
	div.services-col p {
		text-align: left;
		width: 250px;
	}

	div.col-7 {
		margin-left: 1rem;
	}
	div#post-cont {
		margin-left: 2.5rem;
	}

	div#post-cont h3 {
		font-size: 1.3rem;
		width: 110%;
	}
	img#default {
		margin-left: -1rem;
		width: 210px;
		height: 130px;
	}

	div#post-cont p {
		font-size:.9rem;
		width: 110%;
	}

	.square_btn2{
		margin-top:0rem;
	}

	div#posts-wrapper.row {
		margin-left: .5rem;
		width: 98%;
	}
	img#contact-img {
		margin-left: 2.75rem;
		width: 25.5rem;
		height:25.5rem;
		}

		form button {
			margin-left: -10.2rem;
		}

	form input, form textarea {
		width: 415px !important;
		height: 55px !important;
		margin-bottom: 2.5rem;
		margin-left: -8.85rem;
}

section#services {
	margin-top: 6rem !important;
}

form {
	margin-left: 4rem !important;
	width: 80%;
	margin: 0;
}

#contact-img-wrapper {
	width: 80%;
	margin-left: -7rem;
}

section#conta {
	width: 100%;
	margin-left: -.4rem !important;
	margin-top: 15rem !important;
	padding-left: 14.2rem;
}


div#this {
	width: 100%;
	margin-left: -3rem;
}

form i {
	margin-top: .615rem;
	margin-left: -10.889rem;
}
.tit1 {
	margin-left: -3rem;
	padding-left: 2.5rem;
	margin-top: 12rem;
}

h1#s {
	margin-left:2rem !important;
}

h1#c {
	margin-left:-5rem !important;
}

.tit2{
	width: 90%;
	margin-left: -2.8rem;
	margin-right: auto;
	text-align:center;
	margin-top: 5rem;
}
}

@media (min-width: 576px) and (max-width:669.98px) {
	:root {
		font-size: 12px;
	}
	div#img-posts-wrapper {
		display:none;
	}

	.subtitle-main i {
		display: inline;
		font-size: 11px;
	}
	div#main-wrapper-text {
		margin-top: 4.2rem;
	}
	div#main-wrapper-text p {
		font-size: .9rem;
		line-height: 1.7rem;
		width: 100%;
	}
		
	img#main-img {
		margin-top: 10rem;
		margin-left:-2.25rem;
		width: 360px;
		height: 270px;
	}
	div.services-col{
		margin-bottom: 4rem;
	}

	div#services-row {
		margin: 0;
	}

	div.services-col img {
		margin-left: 3rem;
		width: 5rem;
		height: 6rem;

	}
	div.services-col p {
		font-size: .855rem;
	}
	div.col-7 {
		margin-left: 3rem;
	}
	div#post-cont {
		margin-left: 3.5rem;
	}

	div#post-cont h3 {
		font-size: 1.3rem;
	}
	img#default {
		width: 230px;
		height: 135px;
	}

	div#post-cont p {
		font-size:.9rem;
		width: 90%;
	}

	.square_btn2{
		margin-top:0rem;
	}

	section#conteudos {
		margin-top: -5rem;
	}

	div#posts-wrapper.row {
		margin-left: .5rem;
		width: 100%;
	}
	img#contact-img {
		margin-left: 6.75rem;
		width: 25.5rem;
		height:25.5rem;
		}


	form input, form textarea {
		width: 495px !important;
		height: 55px !important;
		margin-bottom: 2.5rem;
		margin-left: -3rem;
}


form {
	margin-left: 4rem !important;
	width: 80%;
	margin: 0;
}

#contact-img-wrapper {
	width: 80%;
	margin-left: -7rem;
}

section#parceiros {
	margin-top: 15rem;
}

section#conta {
	width: 100%;
	margin-left: -.4rem !important;
	margin-top: 15rem !important;
	padding-left: 14.2rem;
}


div#this {
	width: 100%;
	margin-left: -3rem;
}

form i {
	margin-top: .615rem;
	margin-left: -4.9890rem;
}

.tit1 {
	margin-left: -5.5rem;
	padding-left: 2.5rem;
	/* text-align:center; */
	margin-top: 5rem;
}

h1#c {
	margin-left: -.25rem !important;
}

h1#s {
	margin-left: 5rem !important;
}

.tit2{
	margin-left: 6.35rem !important;
	margin-right: auto;
	text-align:center;
	margin-top: 5rem;
}
}
 
@media (min-width: 670px) and (max-width: 767.98px) { 
		:root {
			font-size: 14px;
		}
		div#img-posts-wrapper {
			display:none;
		}
	

		.subtitle-main i {
			display: inline;
			font-size: 11px;
		}

		div#main-wrapper-text {
			margin-top: 4.2rem;
		}

		div#main-wrapper-text p {
			font-size: .9rem;
			line-height: 1.7rem;
			width: 100%;
		}
		
		div#mw {
		padding-left:1.5rem;

		}

		img#main-img {
			margin-top: 11rem;
			margin-left:-3.65rem;
			width: 418px;
			height: 320px;
		}
		div.col-7 {
			margin-left: 3.5rem;
		}


		div#services-row {
			margin: 0;
		}

		div.services-col{
			margin-bottom: 3rem;
		}

		div.services-col img {
			margin-left: 3rem;
			width: 4.86rem;
			height: 5.86rem;
		}
		div#post-cont {
			margin-left: 1.5rem;
		}
		div#post-cont h3 {
			font-size: 1.3rem;
		}

		.square_btn2{
			margin-top: 1rem;
		}
	
		div#posts-wrapper.row {
			margin-left: .5rem;
			width: 100%;
		}
		img#contact-img {
			margin-left: 6.75rem;
			width: 25.5rem;
			height:25.5rem;
			}
	
	
		form input, form textarea {
			width: 525px !important;
			height: 55px !important;
			margin-bottom: 2.5rem;
			margin-left: 6.5rem;
	}



form {
	margin-left: .5rem !important;
	width: 80%;
	margin: 0;
}

#contact-img-wrapper {
	width: 80%;
	margin-left: -7.2rem;
}


div#this {
	width: 100%;
	margin-left: -3rem;
}
form i {
	margin-top: .225rem;
	margin-left: 4.475rem;
}

section#parceiros {
	margin-top: 10rem;
}
	
section#conta {
	width: 100%;
	margin-left: -.4rem !important;
	padding-left: 14.2rem;
	margin-top: 16rem !important;
}
section#services {
	margin-top: 2rem !important;
}
section#conteudos {
	margin-top: -5rem;
}

	
	.tit1 {
		margin-left: -5.5rem;
		padding-left: 2.5rem;
		margin-top: 5rem;
	}
	h1#s {
		margin-left: 5rem !important;
	}
	
	h1#c {
		margin-left: 1.2rem !important;
	}
	
	.tit2{
		margin-left: 5.85rem !important;
		margin-right: auto;
		text-align:center;
		margin-top: 5rem;	
	}
}
		 
@media(min-width:768px) and (max-width:829.98px) {
	:root {
		font-size: 15px;
	}

	div#main-wrapper-text {
		margin-top: 6rem;
	}

	div#services-row {
		margin: 0;
	}
	div.col-7 {
		margin-left: 5rem;
	}

	div#main-wrapper-text p {
		font-size: .967892rem;
		line-height: 2rem;
		width: 110%;
	}
		
	img#main-img {
		margin-top: 9rem;
		margin-left: -1.2rem;
		width: 460px;
		height: 350px;
	}

	div.services-col{
		margin-bottom: 3rem;
	}

	div.services-col img {
		margin-left: 6rem;
		width: 4.6rem;
		height: 5.6rem;
	}
	div.services-col p {
		font-size: .875rem;
	}
	.square_btn2 {
		margin-top: .5rem;
	}
	div#post-cont h3 {
		font-size: 1.35rem;
	}
	div#post-cont p {
		font-size:.9rem;
		width: 100%;
	}

	div#img-posts-wrapper {
		display:none;
	}

	img#default {
		width:240px;
		height: 160px;
	}
	div#post-cont {
		margin-left: .4rem;

	}

	div#posts-wrapper.row {
		margin-left: 0;
		width: 100%;
	}
	


	form input, form textarea {
		width: 425px !important;
		height: 55px !important;
		margin-bottom: 2.5rem;
		margin-left: 2rem;
}

img#contact-img {
	margin-left: 1.62rem;
	width: 20rem;
	height:20rem;
	}

form {
	margin-left: -3rem !important;
	width: 100%;
	margin: 0;
}

#contact-img-wrapper {
	width: 70%;
	margin-left: 5rem;
}
section#conta {
	width: 100%;
	margin-left: -.4rem !important;
	padding-left: 14.2rem;
}


div#this {
	width: 100%;
	margin-left: -3rem;
}

form i {
	margin-top: .125rem;
	margin-left: .05rem;
}
section#parceiros {
	margin-top: 10rem;
}
	
section#conta {
	width: 100%;
	margin-left: -.4rem !important;
	padding-left: 14.2rem;
	margin-top: 16rem !important;
}
section#services {
	margin-top: 5rem !important;
}
section#conteudos {
	margin-top: -5rem;
}

	
	.tit1 {
		margin-left: -5.5rem;
		padding-left: 2.5rem;
		margin-top: 5rem;
	}
	
	h1#c {
		margin-left: -11rem !important;
	}
	
	.tit2{
		margin-left: auto;
		margin-right: auto;
		text-align:left;
		margin-top: 5rem;	
	}
}

@media (min-width: 830px) and (max-width: 949.98px) {
	:root {
		font-size: 13px;
	}

	div#main-wrapper-text {
		margin-top:4.5rem;
	}
	div#main-wrapper-text p {
		width: 90%;
	}
	img#main-img {
		margin-top: 7.5rem;
		margin-left: -.56rem;
		width: 470px;
		height: 360px;
	} 

	div.col-7 {
		margin-left: 5.5rem;
	}

	div#services-row {
		margin: 0;
	}

	div.services-col{
		margin-bottom: 3rem;
	}

	div.services-col img {
		margin-left: 8rem;
		width:4.85rem;
		height: 5.5rem;
	}
	img#img-post {
		width: 43.3rem;
		height: 36.3rem;
		position: absolute;
		right: 0rem;
		padding-top: 5.2rem;
		padding-left: 9rem;
	}
	.square_btn2 {
		margin-top: .5rem;
	}
	div#post-cont h3 {
		font-size: 1.35rem;
		width:120%;
	}
	div#post-cont p {
		font-size:.9rem;
		width: 100%;
	}

	div#post-cont {
		margin-left: 4.8rem;
	}

	img#default {
		width:240px;
		height: 160px;
	} 

	div.post-img-u {
		margin-left: -1.85rem;
		margin-top: -.5rem;
	}

	img#contact-img {
		margin-left: -.75rem;
		width: 28rem;
		height:28rem;
		}


	form input, form textarea {
		width: 425px !important;
		height: 55px !important;
		margin-bottom: 2.5rem;
		margin-left: 4rem;
}
form {
	margin-left: -3rem !important;
	width: 100%;
	margin: 0;
}

#contact-img-wrapper {
	width: 70%;
	margin-left: 6.3rem;
}
section#conta {
	width: 100%;
	margin-left: 4rem !important;
	padding-left: 14.2rem;
}


div#this {
	width: 100%;
	margin-left: -3rem;
}


form i {
	margin-top: .375rem;
	margin-left: 2rem;
}
section#parceiros {
	margin-top: 10rem;
}
	
section#conta {
	width: 100%;
	margin-left: -.4rem !important;
	padding-left: 14.2rem;
	margin-top: 16rem !important;
}
section#services {
	margin-top: 5rem !important;
}
section#conteudos {
	margin-top: -5rem;
}

	
	.tit1 {
		margin-left: -5.5rem;
		padding-left: 2.5rem;
		margin-top: 5rem;
	}

	h1#s{
		margin-left: -2.4rem !important;
	}
	
	h1#c {
		margin-left: -10.4rem !important;
	}
	
	.tit2{
		margin-left: 2rem !important;
		text-align:left;
		margin-top: 5rem;	
	}
}

@media (min-width: 950px) and (max-width: 991.98px) { 
		:root {
			font-size: 13px;
		}

		div#main-wrapper-text {
			margin-top:6rem;
		}
		img#main-img {
			margin-top: 6rem;
			margin-left: 1.8rem;
			width: 520px;
			height: 430px;
		}

		div.col-7 {
			margin-left: 5.5rem;
		}

		div#services-row {
			margin: 0;
		}

		div.services-col{
			margin-bottom: 3rem;
		}

		div.services-col img {
			margin-left: 8rem;
			width:4.85rem;
			height:5.7rem;
		}
		img#img-post {
			width: 43.3rem;
			height: 37.3rem;
			position: absolute;
			right: 0rem;
			padding-top: 5.2rem;
		}
		.square_btn2 {
			margin-top: 0rem;
		}
		div#post-cont h3 {
			font-size: 1.35rem;
		}
		div#post-cont p {
			font-size:.9rem;
			width: 90%;
		}

		div#post-cont {
			margin-left: 3.3rem;
		}

		div.post-img-u {
			padding-left: 0;
			margin-top: -.5rem;
		}

	img#contact-img {
		margin-left: 4rem;
		width: 26.85rem;
		height:26.85rem;
		}

	form input, form textarea {
		width: 425px !important;
		height: 55px !important;
		margin-bottom: 2.5rem;
		margin-left: 4rem;
}



form {
	margin-left: 0.8925rem !important;
	width: 80%;
	margin: 0;
}

#contact-img-wrapper {
	width: 80%;
	margin-left: 6.3rem;
}

section#conta {
	width: 100%;
	margin-left: -.4rem !important;
	padding-left: 14.2rem;
}


div#this {
	width: 100%;
	margin-left: -3rem;
}

form i {
	margin-top: .375rem;
	margin-left: 2rem;
}
section#parceiros {
	margin-top: 10rem;
}
	
section#conta {
	width: 100%;
	margin-left: 3rem !important;
	padding-left: 14.2rem;
	margin-top: 16rem !important;
}
section#services {
	margin-top: 5rem !important;
}
section#conteudos {
	margin-top: -5rem;
}

	
	.tit1 {
		margin-left: -5.5rem;
		padding-left: 2.5rem;
		margin-top: 5rem;
	}

	h1#s{
		margin-left: -2rem !important;
	}
	
	h1#c {
		margin-left: -14rem !important;
	}
	
	.tit2{
		margin-left: 2rem !important;
		text-align:left;
		margin-top: 5rem;	
	}
}

@media (min-width: 992px) and (max-width: 1069.98px) {
	:root {
		font-size: 15px;
	}
	img#main-img {
		margin-left: -3.1rem;
		width: 630px;
		height: 470px;
	}
	div#services-row {
		margin: 5rem;
	}

	div.services-col img {
		margin-left: 0;
		width:4.5rem;
		height: 5.5rem;
	}
	div.col-7 {
		margin-left: 2.15rem;
	}
	img#img-post {
		width: 41.7rem;
		height: 35.5rem;
		position: absolute;
		right: 0rem;

	}
	div#post-cont p {
		width: 87%;
	}

	div#post-cont {
		margin-left: 1.5rem;
	}

	div.post-img-u {
		padding-left: 0;
		margin-top: -.5rem;
	}
	img#contact-img {
		margin-left: -4rem;
		width: 26.85rem;
		height:26.85rem;
		}

	form input, form textarea {
		width: 425px !important;
		height: 55px !important;
		margin-bottom: 2.5rem;
}



form {
	margin-left: -1.8rem !important;
	width: 80%;
	margin: 0;
}

#contact-img-wrapper {
	width: 80%;
	margin-left: 6.3rem;
}

div#this {
	width: 100%;
	margin-left: -3rem;
}
section#parceiros {
	margin-top: 10rem;
}
	
section#conta {
	width: 100%;
	margin-left: 2.4rem !important;
	padding-left: 14.2rem;
	margin-top: 16rem !important;
}
section#services {
	margin-top: 5rem !important;
}
section#conteudos {
	margin-top: -5rem;
}

	
	.tit1 {
		margin-left: -5.5rem;
		padding-left: 2.5rem;
		margin-top: 5rem;
	}

	h1#s{
		margin-left: -2rem !important;
	}
	
	h1#c {
		margin-left: -14rem !important;
	}
	
	.tit2{
		margin-left: 2rem !important;
		text-align:left;
		margin-top: 5rem;	
	}
}

@media (min-width: 1070px) and (max-width: 1199.98px) { 
		:root {
			font-size: 15px;
		}
		img#main-img {
			margin-right: 3.1rem;
			width: 630px;
			height: 470px;
		}
		div#services-row {
			margin: 5rem;
		}

		div.services-col img {
			margin-left: 0;
			width:4.5rem;
			height: 5.5rem;
		}
		div.col-7 {
			margin-left: 2.15rem;
		}

		img#img-post {
			width: 42.7rem;
			height: 36.5rem;
			position: absolute;
			right: 0rem;

		}
		div#post-cont p {
			width: 80%;
		}

		div#post-cont {
			margin-left: 1rem;
		}

		div.post-img-u {
			padding-left: 0;
			margin-top: -.5rem;
		}

		img#contact-img {
			margin-left: 5.81rem;
		width: 29rem;
		height:29rem;
		}

		form input, form textarea {
		width: 500px !important;
		height: 55px !important;
		margin-bottom: 2.5rem;
}



form {
	margin-left: 2.85rem !important;
	width: 80%;
	margin: 0;
}

#contact-img-wrapper {
	width: 80%;
	margin-left: 6.3rem;
}

div#this {
	width: 100%;
	margin-left: -3rem;
}
section#parceiros {
	margin-top: 10rem;
}
	
section#conta {
	width: 100%;
	margin-left: 2.4rem !important;
	padding-left: 14.2rem;
	margin-top: 16rem !important;
}
section#services {
	margin-top: 5rem !important;
}
section#conteudos {
	margin-top: -5rem;
}

	
	.tit1 {
		margin-left: -5.5rem;
		padding-left: 2.5rem;
		margin-top: 5rem;
	}

	h1#s{
		margin-left: -2rem !important;
	}
	
	h1#c {
		margin-left: -14rem !important;
	}
	
	.tit2{
		margin-left: 2rem !important;
		text-align:left;
		margin-top: 5rem;	
	}
}

