{% load static %}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../static/main/layout.css"></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f22b9db43a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'main/ico-metrike.png' %}" type="image/png" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
    <title>Metrike | {% block title%}{% endblock %}</title>
</head>
<body>
    <div id="page">

    <nav id="menu" class="navbar navbar-expand-md navbar-light sticky-top">
      <!-- >img src="{% static 'main/logo-metrike-metrica.png' %}"> -->
      <!-- <a class="navbar-brand" href="{% url 'index' %}"> -->
      <a class="navbar-brand scrollsuave" href="#lema">
        <img src="{% static 'main/logo-metrike-metrica.png' %}">
      </a>


      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link text-capitalize scrollsuave" href="#services">services <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-capitalize scrollsuave" href="#news">news</a>
          </li>
          <li class="nav-item text-capitalize">
            <a class="nav-link scrollsuave" href="#contact">contact</a>
          </li>
          <li class="nav-item d-none d-md-block">
            <a class="nav-link" href="#"><i class="fas fa-bars"></i></a>
          </li>
    
        </ul>
      </div>
    </nav>
    <div id="lema" style="position:absolute; top: -.1rem;"></div>
    {% block body %}
    {% endblock %}

    <div class="container"><!-- inicio container row-underclients -->

        <div id="row-underclients" class="row"> <!-- inicio row underclients -->
            <div class="col-md-6 mt-1"><!-- inicio col-md-6 -->
            <h1>Suporte Técnico</h1>
            <div class="contact-info"> <!-- inicio contact info -->
              <p>
                <strong>contato técnico</strong>
              </p>
              <div class="info"><!-- inicio info 1 -->
                <a href="">
                  <i class="fa fa-envelope"></i>
                  <span class="ml-2"><a target="_blank" href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSGMvlwCbhCJQwNtjfCLGGDlMhJfnFXwWzggqTvSwnsmtrwmxTSSgdWmHcVMlFkBhKvhXFMW">checking@metrike.com</a></span>
                </a>
              </div><!-- fim info 1 -->
            </div><!-- fim contact info -->
          </div><!-- fim col-md-6 -->
          <div id="business" class="col-md-4 offset-md-2 mt-1"><!-- inicio col-md-4 -->
            <h1>Comercial</h1>
            <div class="contact-info"><!-- inicio contact info -->
              <div class="info"><!-- inicio info 1 -->
                <a href="">
                  <i class="fa fa-envelope"></i>
                  <span class="ml-2"><a target="_blank" href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSGMvlwCbhCJQwNtjfCLGGDlMhJfnFXwWzggqTvSwnsmtrwmxTSSgdWmHcVMlFkBhKvhXFMW">contato@metrike.com</a></span>
                </a>
              </div><!-- fim info 1 -->
              </div> <!-- fim contactinfo -->
              <div class="info location"><!-- inicio info 3 -->
                <i class="fa fa-map-marker"></i>
                <span class="ml-2">Cloud</span>
              </div><!-- fim info 3 -->
          </div><!-- fim col -->
        </div> <!-- fim row underclients-->
    </div><!-- fim container row underclients -->
    </div>
</body>
</html>